      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb__item" aria-current="Home">
            <a href="/">Home</a>
          </li>
          {{#breadcrumbs}}
          <li class="breadcrumb__item" aria-current="Home">
            <a href="{{title}}">{{name}}</a>
          </li>
          {{/breadcrumbs}}
        </ol>
      </nav>