      <header aria-label="header">
        <div class="header">
          <div class="header__logo">
            <h1>MagaNets</h1>
          </div>
          <div class="header__search">
            <div class="header__search--info">
              <div class="header__search--info-city">
                <i class="fas fa-map-marker-alt"></i>
                <span>Cidade: São Paulo</span>
              </div>
              <div class="header__search--info-help">
                <i class="fas fa-phone-alt"></i>
                <span>Central de atendimento</span>
              </div>
              <div class="header__search--info-wishlist">
                <i class="fas fa-heart"></i>
                <span><a href="/wishlist">Lista de desejos</a></span>
              </div>
            </div>
            <div class="header__search--bar">
              <input
                class="header__search--bar-input"
                type="text"
                placeholder="Busca"
              />
              <i class="fas fa-search header__search--bar-icon"></i>
            </div>
          </div>
        </div>
      </header>