  <div class="skeleton">
    <div class="skeleton__breadcrumb"></div>
		<div class="skeleton__card-list">
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
			<div class="skeleton__card-list--card"></div>
		</div>
  </div>