<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="pt" />

    <link rel="stylesheet" href="/css/main.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      {{> header}}

      {{> breadcrumb}}

      {{> cards}}

      {{> skeleton}}
    </div>

    <script
      src="https://kit.fontawesome.com/695946c9ba.js"
      crossorigin="anonymous"
    ></script>
    
    {{#scripts}} <script type="text/javascript" src="{{ . }}"></script> {{/scripts}}
  </body>
</html>
